.case {
    background-color: #f4f5f9;
    &__wrap {
        padding: 150px 15px;
    }

    &__blocks {
        display: flex;
        align-items: center;
        margin-top: 65px;
    }

    &__left {
        box-sizing: border-box;
        flex-basis: 665px;
        padding: 78px 70px 116px;
        text-align: center;
        background-color: $white;
        position: relative;
        z-index: 1;
    }

    &__icon {
        margin: 0 auto;
        width: 127px;
        height: 127px;
        background-color: $red;
        position: relative;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__caption {
        margin-top: 54px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #6a6a6a;
        font-weight: 600;
        font-family: $open_sans;   
        text-transform: uppercase;    
        &::after {
            content: "";
            display: block;
            width: 22px;
            height: 1px;
            background-color: #888888;
            margin: 30px auto 0;
        } 
    }

    &__text {
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        color: $gray;
        font-weight: 300;
        font-family: $source_sans_pro;
    }

    &__btn {
        margin-top: 50px;
        @include button (){
            margin-top: 50px;
            font-size: 12px;
            font-weight: 600;
            width: 145px;
        }    
    }

    &__right {
        img {
            margin-left: -80px;
        }     
    }
}
