
.advantages {
	border-bottom: 1px solid #e6e7eb;
		&__wrap {
			padding: 100px 15px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}


		&__item {
			flex-basis: 22%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:hover {
				.advantages {
					&__icon {
						transform: rotate(45deg);
						border-color: $red;

					}
					&__img {
						fill: $red;
						transform: translate(-50%, -50%) rotate(-45deg);
					}	

					&__title {
						color: $red;
						&::after {
							background-color: $red;
							box-shadow: 0 1px 1px 0px $red;
						}
					}
				}
			}
		}

		&__icon {
			width: 70px;
			height: 70px;
			border: 1px solid #e5e5e5;
			position: relative;
			transition: border-color, transform 500ms ease;
		}
		&__img {
			width: 30px;
			height: 30px;	
			fill: #6a6a6a;			
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: transform 500ms ease;			
		}

		&__title {
			margin-top: 30px;
			font-size: 18px;
			letter-spacing: 1px;
			color: #6a6a6a;
			font-weight: 600;
			font-family: $open_sans;
			transition: all 500ms ease;
			&::after {
				content: "";
				display: block;
				width: 40px;
				height: 1px;
				background-color: #6a6a6a;
				margin: 20px auto 0;
				box-shadow: 0 1px 1px 0px #6a6a6a;
				transition: background-color 500ms ease;
			}
		}

		&__subtitle {
			margin-top: 20px;
			text-align: center;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 20px;
			color: $gray;
			font-weight: 300;
			font-family: $source_sans_pro;
		}
}
